
body{
    background-color: #ECF0F3;
    margin: 0;
    font-family: Arial;
}

.page-header{
    position: fixed;
    background: #ECF0F3;
    width: 100%;
}

nav{
    display: flex;
}

nav img{
    border-radius: 100%;
    border: #726f6f solid;
    margin: 10px 0 0 10px;
    
}

nav ul{
    display: flex;
    padding-left: 50px;
    
    list-style: none;
}

nav ul li{
    padding-left: 150px;
    color: #4E4949;
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
}

.page-intro{
    padding-top: 100px;
    display: flex;
}

#intro-p{
    font-size: 15px;
}

.introduction{
    width: 50%;
    padding-left: 150px;
    padding-top: 50px;
}

.introduction p{
    color: #4E4949;
    font-size: 12px;
}

.introduction h1{
    font-size: 50px;
    color: #2E2A2A;
}

.introduction h1 span{
    color: #F8013C;
}

.first-image{
    width: 50%;
    text-align: center;
}

.first-image img{
    border-radius: 10%;
    box-shadow: #4E4949 0px 2px 10px;
}

#p1{
    padding-top: 20px;
}

.social-media{
    display: flex;  
}



.media{
    height: 50px;
    width: 50px;
    background-color:#ECF0F3;
    border-radius: 20%;
    box-shadow: #4E4949 0px 2px 10px;
    margin-right: 20px;
}

.media img{
    padding: 10px 0 0 10px;

}

#feature{
    margin-top: 200px;
    color: #F8013C;
    font-size: 12px;
    text-align: center;
}

#feature-title{
    text-align: center;
    font-size: 50px;
    color: #2E2A2A;
}

.service{
    /* width: 100%; */
    padding: 50px;
  }
  
  .box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card{
    height: 280px;
    width: 300px;
    padding: 20px 35px;
    background: #ECF0F3;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: #4E4949 0px 2px 10px;
  }

  .card img{
    margin-top: 40px;
  }

  .card h3{
    margin-top: 40px;
    color: #2E2A2A;
  }
  
  .pra p{
    color: #4E4949;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
  }

  .contact{
    display: flex;
    padding-top: 30px;
  }

  .profile{
    margin: 10px 0px 100px 100px;
    height: 550px;
    width: 320px;
    box-shadow: #4E4949 0px 2px 10px;
    border-radius: 10px;
    padding: 30px;
  }

  .profile img{
    border-radius: 10px;
  }

  .profile h3{
    margin-top: 20px;
    color: #2E2A2A;
    font-size: 30px;
    margin-bottom: 0;
  }

  .profile p{
    padding-top: 0px;
    color: #4E4949;
    font-size: 15px;
  }

  .contact-form{
    height: 610px;
    width: 750px;
    border-radius: 10px;
    box-shadow: #4E4949 0px 2px 10px;
    margin: 10px 50px 100px ;
  }
   
  .contact-form form{
    padding: 30px 0 0 30px;
  }

  .contact-form form label{
    font-size: 11px;
    color: #4E4949;
    padding-bottom: 30px;
  }
  #label{
    margin-left: 290px;
  }

  #name{
    height: 38px;
    width: 325px;
    margin: 20px 20px 20px 0;
    border: none;
    border-radius: 5px;
    padding: 5px;
  }

  #email{
    margin: 20px 0 20px 0;
    height: 42px;
    width: 96%;
    border: none;
    border-radius: 5px;
  }

  #subject{
    margin: 20px 0 20px 0;
    height: 42px;
    width: 96%;
    border: none;
    border-radius: 5px;
  }

  #message{
    margin: 20px 0 20px 0;
    height: 140px;
    width: 96%;
    border: none;
    border-radius: 5px;
  }

  .send-message{
    margin: 0 0 20px 0;
    height: 42px;
    width: 96%;
    border: none;
    border-radius: 5px;
    box-shadow: #4E4949 0px 2px 10px;
    font-size: 11px;
    color: #4E4949;
  }

  .input:focus {
    outline: 0;
  }

  #form.success .input{
    border: 1px solid #726f6f;
    border-color: aqua;
  }

  #form.error .input{
    border-color: #F8013C;
  }

  #form .error{
    color: #F8013C;
    font-size: 9px;
    height: 13px;
  }

  .serv{
    /* width: 100%; */
    padding: 50px;
  }
  
  .bo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ca{
    height: 300px;
    width: 300px;
    
    background: #ECF0F3;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    padding-left: 20px;
    box-shadow: #4E4949 0px 2px 10px;
  }

  .ca img{
    margin-top: 20px;
    border-radius: 10px;
  }

  .ca h3{
    margin-top: 20px;
    color: #2E2A2A;
    margin-bottom: 30px;
  }
  

  .button{
    background-color: #ECF0F3;
    color: #F8013C;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 9px 22px;
    font-size: 12px;
    border-radius: 30px;
    box-shadow: #4E4949 0px 2px 10px;
    margin-left: 110px;
  }